body{
    height: 100%;
    width: 100%;
    background: rgb(114, 98, 243);
}

.box {
    width: 300px;
    height: 300px;
    border-radius: 5px;
    box-shadow: 0 2px 30px rgb(0,0,0,0.2);
    background: linear-gradient(180deg, rgb(0, 0, 0), rgba(255, 255, 255, 0.8));
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
    margin: 0 auto;
}

.wave {
  opacity: .4;
    position: absolute;
    top: 3%;
    left: 50%;
    width: 500px;
    height: 500px;
    margin-left: -250px;
    margin-top: -240px;
    transform-origin: 50% 48%;
    border-radius: 43%;
    animation: drift 3000ms infinite linear;
    background: rgb(114, 98, 243);
}

.wave.-three {
  animation: drift 5000ms infinite linear;
}

.wave.-two {
  animation: drift 7000ms infinite linear;
    opacity: .3;
    background: rgba(236, 114, 76, 0.3);
}

.box:after {
  content: '';
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgb(54, 39, 179), rgba(221, 238, 255, 0) 80%, rgba(255, 255, 255, 0.5));
  z-index: 11;
  transform: translate3d(0, 0, 0);
}

.title {
  position: absolute;
  left: 0;
  top: 30px;
  text-align: center;
  color: white;
  width: 100%;
  z-index: 1;
}
.title > img {
    max-width: 80px;
    border-radius: 80px;
    border: 4px solid rgb(255, 255, 255);
    box-shadow: 0 2px 30px rgb(0,0,0, 0.2);
}
.title h3 {
    color: rgb(255, 255, 255);
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 16px;
}
.title h4 {
    color: rgb(255, 255, 255);
    margin: 10px 0;
    font-weight: 500;
    font-size: 15px;
}
@keyframes drift {
  from { transform: rotate(0deg); }
  from { transform: rotate(360deg); }
}

.content {
    background: rgb(114, 98, 243);
    width: 100%;
    height: calc(100%-100px);
    margin: 50px 0;
}
.social {
    margin: 0;
    line-height: 1;
    margin-top: 10px;;
}

.social a {
    display: inline-block;
    background: #fff;
    border-radius: 50px;
    text-decoration: none !important;
    margin: 0 4px;
    padding: 4px;
    max-width: 26px;
    max-height: 26px;
}
.social a img {
    max-width: 18px;
    width: 18px;
    height: 18px;
    vertical-align: top;
}

.social a img.ml-logo{    
    border-radius: 50px;
}

.bmc-button img{
    width: 27px !important;
    box-shadow: none !important;
    border: none !important;
    margin-bottom: 3px !important;
}

.bmc-button{
    line-height: 36px !important;
    text-decoration: none !important;
    color:#000000 !important;
    background-color:#FFFFFF !important;
    border-radius: 4px !important;
    padding: 0 !important;
    font-size: 22px !important;
    box-shadow: 0 2px 30px rgb(0,0,0,0.2) !important;
    -webkit-box-shadow: 0 2px 30px rgb(0,0,0,0.2) !important;
    margin: 0 auto !important;
    font-family:'Cookie', cursive !important;
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box !important;
    -o-transition: 0.3s all linear !important;
    -webkit-transition: 0.3s all linear !important;
    -moz-transition: 0.3s all linear !important;
    -ms-transition: 0.3s all linear !important;
    transition: 0.3s all linear !important;
    width: 300px;
    text-align: center;
    display: block !important;
    height: 36px !important;
    letter-spacing: 0.6px !important;;
}

.bmc-button:hover,
.bmc-button:active,
.bmc-button:focus {
    -webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
    text-decoration: none !important;
    box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
    opacity: 0.85 !important;
    color:#000000 !important;
}


.buyme {
    margin: 30px auto 0 auto;
    text-align: center;
}